:root {
    --orange: #EB5E28;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
}

body{
    background: #888888;
    /* min-height: 200vh; */
}


/* navigation bar */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 20px 200px;
}

/* navigation when page is scrolled */

nav.scrolled {
    z-index: 100000;
    background: black;
    padding: 5px 200px;
}

/* Left side of navigation bar */

nav.topped #logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

nav.topped #logo #logoImage {
    height: 70px;
}

nav.topped #logo #logoText{
    height: 50px;
}



/* Right side of navigation bar */

nav.topped #rightSide {
    display: flex;
    align-items: center;
    gap: 30px;
}

nav.topped #rightSide a, nav.topped #rightSide p {
    font-size: 1.4em;
    font-weight: 900;
    text-decoration: none;
}

nav.topped #rightSide #kontaktButton{
    background-color: var(--orange);
    padding: 10px 45px;
    border-radius: 50px;
    font-size: 1.6em;
}



/* Pages */
.page{
    /* height: 100vh; */
    width: 99.2vw;
    padding: 0 200px;

    background: radial-gradient(circle at 0% 00%, rgba(0,0,0,1), rgba(88,88,114,1), rgba(0,0,0,1));
    /* background: rgb(0,0,0); */


}



/* First Page */

#firstPage{
    display: flex;
    padding-top: 200px;
    padding-bottom: 100px;
}

#firstPage .leftSide{
    width: 50%;
}

#firstPage .leftSide h2{
    font-size: 6em;
    font-weight: 600;
    width: 200%;
}

#firstPage .leftSide #smallInformation {
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 100%;
    margin-top: 120px;

}

#firstPage .leftSide #smallInformation div h3{
    font-size: 5em;
}

#firstPage .leftSide #smallInformation div h5{
    font-size: 2em;
    font-weight: 300;
}

#firstPage .leftSide #buttonDiv {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 120px;
}

#firstPage .leftSide button{
    background: var(--orange);
    font-size: 2em;
    font-weight: 600;
    padding: 20px 50px;
    border-radius: 50px;
    border: 0;
}

#firstPage .rightSide{
    width: 85%;
}

#firstPage img {
    /* width: 670px; */
    /* height: 410px; */
    
    width: 100%;

    margin-top: 60px;

}




/* Second Page */

#secondPage {
    background: radial-gradient(circle at 0% 00%, rgba(0,0,0,1), rgba(88,88,114,1), rgba(0,0,0,1));

    height: 2000px;
    padding-left: 0;
}


#secondPage #carPhoto {
    background-image: url(./photo/outside/frontDark.png);
    background-repeat: no-repeat;
    height: 700px;
    width: 99.2vw;

}


.infoBox{
    width: 60%;
    padding: 20px;
    border-radius: 20px;
}

#carInfoTop{
    margin-top: -300px;
    margin-left: 200px;
    background: #19191d;
    height: 450px;

}

#carInfoTop h3 {
    font-size: 3.8em;
}

#carInfoTop p {
    color: #585872;
    font-size: 2em;
    font-weight: 600;
    margin: 20px 0 30px 0;
}

#carInfoTop #specificationTexts {
    display: grid;
    gap: 30px;
    column-gap: 60px;
    grid-template-columns: auto auto auto;
    text-wrap: nowrap;
}

#carInfoTop #specificationTexts div h6{
    font-size: 1.2em;
}

#carInfoTop #specificationTexts div h4{
    color: var(--orange);
    font-size: 2.2em;
}

#carInfoTop #carEquipment {
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column: 3; 

    width: 200%;
    background: #38383d;
}

#carInfoTop #carEquipment h4 {
    color: #a2a2a2 !important;
}

#carInfoTop #carEquipment ul{
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5em;
    width: 100%;
    margin-top: 20px;
}
#carInfoTop #carEquipment ul li {
    width: 400px;
    margin-left: 20px;
    margin-top: 10px;
    text-wrap: wrap;
}