:root {
    --orange: #EB5E28;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
}

img {  
    user-drag: none;  
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
 }

body{
    background: #888888;
}

i {
    color: var(--orange);
}

a{
    text-decoration: none;
}


/* navigation bar */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 1.02vw 10.2vw;
}

/* navigation when page is scrolled */

nav.scrolled {
    z-index: 100000;
    background: black;
    padding: 0.25vw 10.2vw;
}

/* Left side of navigation bar */

nav.topped #logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.51vw;
}

nav.topped #logo #logoImage {
    height: 3.7vw;
}

nav.topped #logo #logoText{
    height: 2.6vw;
}



/* Right side of navigation bar */

nav.topped #rightSide {
    display: flex;
    align-items: center;
    gap: 1.5vw;
}

nav.topped #rightSide .smallButtons, nav.topped #rightSide p {
    font-size: 1.2vw;
    font-weight: 900;
    text-decoration: none;

    transition: 0.5s;
}

nav.topped #rightSide .smallButtons:hover {
    font-size: 1.4vw;

    color: var(--orange);
}

nav.topped #rightSide #kontaktButton{
    background-color: var(--orange);
    padding: 0.5vw 2.3vw;
    border-radius: 50px;
    font-size: 1.6vw;
    cursor: grab;


    transition: 0.5s;
}

nav.topped #rightSide #kontaktButton p{
    font-size: 1.6vw;

}

nav.topped #rightSide #kontaktButton:hover{
    background-color: #8d3310;

}



/* Pages */
.page{
    padding: 0 10.2vw;

    background: radial-gradient(circle at 0% 00%, rgba(0,0,0,1), rgba(88,88,114,1), rgba(0,0,0,1));
}



/* First Page */

#firstPage{
    display: flex;
    padding-top: 10.5vw;
    padding-bottom: 5.6vw;
}

#firstPage .leftSide{
    width: 50%;
}

#firstPage .leftSide h2{
    font-size: 5vw;
    font-weight: 600;
    width: 200%;
}

#firstPage .leftSide img{
    display: none;
}

#firstPage .leftSide #smallInformation {
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 100%;
    margin-top: 6.2vw;

}

#firstPage .leftSide #smallInformation div h3{
    font-size: 4.2vw;
}

#firstPage .leftSide #smallInformation div h5{
    font-size: 1.7vw;
    font-weight: 300;
}

#firstPage .leftSide #buttonDiv {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 6.2vw;
}

#firstPage .leftSide a{
    background: var(--orange);
    text-decoration: none;
    font-size: 1.7vw;
    font-weight: 600;
    padding: 1vw 2.6vw;
    border-radius: 50px;
    border: 0;
    transition: 0.5s;
    cursor: grab;
}

#firstPage .leftSide a:hover{
    background-color: #8d3310;
}

#firstPage .rightSide{
    width: 85%;
}

#firstPage img {
    width: 100%;
    margin-top: 3.1vw;
}




/* Second Page */

#secondPage {
    background: radial-gradient(circle at 0% 00%, rgba(0,0,0,1), rgba(88,88,114,1), rgba(0,0,0,1));
    padding-left: 0;
}


#secondPage #carPhoto {
    background-image: url(./photo/outside/frontDark.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 32vw;
    width: 99.2vw;

}


.infoBox{
    width: 60%;
    padding: 1vw;
    border-radius: 20px;
}

#carInfoTop{
    margin-top: -15.3vw;
    margin-left: 10.2vw;
    background: #19191d;
    height: 25vw;

}

#carInfoTop h3 {
    font-size: 3vw;
}

#carInfoTop #specificationTitle {
    color: #585872;
    font-size: 1.7vw;
    font-weight: 600;
    margin: 1vw 0 1.5vw 0;
}

#carInfoTop #specificationTexts {
    display: grid;
    gap: 1.5vw;
    column-gap: 3vw;
    grid-template-columns: auto auto auto;
    text-wrap: nowrap;
}

#carInfoTop #specificationTexts div h6{
    font-size: 1vw;
}

#carInfoTop #specificationTexts div h4{
    color: var(--orange);
    font-size: 1.9vw;
}

#carInfoTop #carEquipment {
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column: 3; 

    width: 200%;
    background: #38383d;
}

#carInfoTop #carEquipment h4 {
    color: #a2a2a2 !important;
}

#carInfoTop #carEquipment #carEquipmentList{
    display: flex;
    flex-wrap: wrap;
    font-size: 1.3vw;
    width: 100%;
    margin-top: 1vw;
}

#carInfoTop #carEquipment #carEquipmentList div{
    width: 20vw;
    margin-left: 1vw;
    margin-top: 0.5vw;
    text-wrap: wrap;

    display: flex;
    gap: 0.5vw;
    align-items: center;
    
}




/* SecondPage Price  */
#secondPage #price {
    width: 99.2vw;
    padding: 0 10.2vw;
    margin-top: 15.3vw;
    padding-bottom: 5.1vw;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#secondPage #price div {
    height: 46vw;
    width: 20.4vw;
    background-color: #38383d;


}

#secondPage #price div img {
    width: 20.4vw;
}

#secondPage #price div h3{
    font-size: 3.8vw;
    margin: 0 1vw;
    margin-top: 0.25vw;
}

#secondPage #price div h6{
    color: var(--orange);
    margin: 0 1vw;
    font-size: 1.6vw;
}

#secondPage #price div ul {
    margin: 1vw;
    margin-top: 2vw;
}

#secondPage #price div ul li {
    font-size: 1.3vw;
}

/* Photo Slider  */
.swiper {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;

    background-color: #38383d;
  }

  .swiper-slide {    
    margin: 2.5vw 0;
  }

  .swiper-slide div {
    width: 80vw;
    height: 45vw;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
  }

  .swiper .swiper-button-next, .swiper .swiper-button-prev {
    color: var(--orange);
    font-weight: 900;
    margin: 0 3vw;
  }

  .swiper .swiper-button-next::after , .swiper .swiper-button-prev::after {
    font-size: 4vw;
  }







  /* Contact Us */
  #contact{
    display: flex;

    list-style-position: inside;
  }

  #contact #leftSide {
    width: 40%;
  }

  #contact h3{
    font-size: 3.5vw;
    font-weight: 900;
  }

  #contact #ourContact div{
    font-size: 1.4vw;
    display: flex;
    gap: 1vw;
    align-items: center;
    margin-top: 1vw;
  }

  #contact #ourContact div a:hover{
    text-decoration: underline;
  }

  #contact #findUs {
    margin-top: 2.5vw;
    font-size: 1.8vw;
  }

  #contact #leftSide #socialMedia {
    display: flex;
    gap: 0.75vw;
    margin: 1vw 0;
  }

  #contact #leftSide #socialMedia a {
    color: var(--orange);
    text-decoration: none;
  }

  #contact #rightSide {
    width: 60%;
  }

  #contact #rightSide #form {
    display: grid;
  }

  #contact #form #message {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  #contact #rightSide #name, #contact #rightSide #number, #contact #rightSide #email {
    grid-row-start: 1;
    grid-row-end: 2;
  }

  #form button {
    grid-row-start: 3;
    grid-row-end: 4;
  }

  #contact #rightSide h3:last-child {
    margin-top: 1.5vw;
  }






  @media screen /*and (min-width: 700px)*/ and (max-width: 1000px) {

    nav.topped {
        padding: 1.02vw 2vw;
    }


    nav.topped #logo #logoImage {
        height: 7.7vw;
    }
    
    nav.topped #logo #logoText{
        height: 6.6vw;
    }



    /* Right Side Nav */
    nav.topped #rightSide .smallButtons {
        display: none;
    }    

    nav.topped #rightSide #kontaktButton{
        padding: 1vw 4vw;
    }

    nav.topped #rightSide #kontaktButton p{
        font-size: 4vw;
    }


    /* pages */
    .page{
        padding: 0 2vw;
    }

    /* First Page */
    #firstPage{
        height: 100vh;

        overflow: hidden;
    }

    #firstPage .leftSide{
        width: 100%;

        height: 90vh;


        display: flex;

        flex-direction: column;

        justify-content: space-around;
    }

    #firstPage .leftSide h2{
        font-size: 7vw;

        width: 100%;
        margin-left: 2vw;

    }

    #firstPage .leftSide .car{
        width: 150%;
        display: flex;
        justify-content: center;
    }

    #firstPage .leftSide img {
        display: block;

        width: 50%;

        margin: 0;

        margin-top: -10vw;
        
    }

    #firstPage .leftSide #smallInformation{
        margin: 0;
    }

    #firstPage .leftSide #smallInformation div h3{
        font-size: 6vw;
    }

    #firstPage .leftSide #smallInformation div h5{
        font-size: 2.5vw;
    }




    #firstPage .leftSide #buttonDiv{
        margin: 0;
        padding: 0;
    }

    #firstPage .leftSide #buttonDiv a{
        font-size: 3vw;
    }

    



    #firstPage .rightSide{
        display: none;
    }






    #secondPage #carPhoto{
        height: 40vw;
        width: 99.2vw;
    }

    #secondPage #carInfoTop{
        margin-left: 4vw;
        margin-top: -30vw;

        width: 72vw;
        height: 30vw;
    }

    #secondPage #carInfoTop h3{
        font-size: 4vw;
    }

    #secondPage #carInfoTop #specificationTitle{
        font-size: 2.5vw;
    }

    #secondPage #carInfoTop #specificationTexts .info{
        width: 20vw;
    }

    #secondPage #carInfoTop #specificationTexts .info h6{
        font-size: 1.5vw;
    }

    #secondPage #carInfoTop #specificationTexts .info h4{
        font-size: 2.5vw;
    }


    #secondPage #carInfoTop #carEquipment{
        width: 69vw;

        grid-column-start: 2; 
        grid-column-end: 4;
        grid-row: 3;
        
    }

    #secondPage #carInfoTop #carEquipment h4{
        font-size: 4vw;
        margin-left: 0.8vw;
    }

    #carInfoTop #carEquipment #carEquipmentList div{
        font-size: 2.2vw;
        width: 32.5vw;
    }



    #secondPage #price{
        margin-top: 40vw;
    }







    /* SecondPage Price */

    #secondPage #price {
        padding: 0 2vw;
    }

    #secondPage #price div {
        width: 27vw;
    }

    #secondPage #price div img {
        width: 27vw;
    }

    #secondPage #price div h3 {
        font-size: 5vw;
    }

    #secondPage #price div h6 {
        font-size: 2.6vw;
    }

    #secondPage #price div ul li {
        font-size: 2vw;
        list-style: inside;
    }

    



    #secondPage {
        padding-bottom: 10vw;
    }



    .swiper {
        height: 50vw;

    }



    .swiper .swiper-button-next, .swiper .swiper-button-prev {
        margin: 0 3vw;
      }





      /* contact */

      #contact #leftSide {
        width: 70%;
      }

      #contact h3 {
        font-size: 7vw;
      }

      #contact #ourContact div {
        font-size: 3vw;
      }

      #contact #findUs {
        font-size: 4vw;
      }

      #contact #rightSide h3 {
        font-size: 4vw;
      }

  }


@media screen  and (min-width: 0px) and (max-width: 700px){

    nav.topped #logo #logoImage{
        height: 13vw;
    }

    nav.topped #logo #logoText{
        height: 8vw;
    }



    nav.topped #rightSide #kontaktButton p{
        font-size: 6vw;
    }




    /* First Page */
    #firstPage .leftSide h2{
        font-size: 10vw;
    }


    #firstPage .leftSide #smallInformation div h3{
        font-size: 12vw;
    }

    #firstPage .leftSide #smallInformation div h5{
        font-size: 5vw;
    }




    #firstPage .leftSide #buttonDiv a{
        font-size: 6vw;
        padding: 3vw 6vw;
    }





    /* second page */

    #secondPage #carPhoto {
        width: 100vw;
    }

    #secondPage #carInfoTop {
        width: 92vw;
        height: auto;
        padding: 3vw;
        height: 74vw;

    }

    #secondPage #carInfoTop h3{
        font-size: 6vw;
    }

    #secondPage #carInfoTop #specificationTitle{
        font-size: 5vw;
    }

    #secondPage #carInfoTop #specificationTexts {
        grid-template-columns: auto auto;
    }

    #secondPage #carInfoTop #specificationTexts .gearbox{
        text-wrap: wrap;
    }

    #secondPage #carInfoTop #specificationTexts .info h6{
        font-size: 4vw;
    }

    #secondPage #carInfoTop #specificationTexts .info h4{
        font-size: 5vw;
    }


    #secondPage #carInfoTop #specificationTexts #carEquipment{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row: 5;

        width: 92vw;
        padding: 3vw;
        margin-left: -3vw;
        margin-top: 8vw;
    }

    #secondPage #carInfoTop #specificationTexts #carEquipment h4{
        font-size: 5vw;
    }

    #secondPage #carInfoTop #specificationTexts #carEquipment #carEquipmentList div{
        font-size: 4vw;
        width: 100%;
    }




    #secondPage #price{
        margin-top: 110vw;
        flex-direction: column;

        height: 450vw;

        justify-content: space-between;
        align-items: center;
    }

    #secondPage #price div{
        width: 92vw;
        height: 140vw;
        border-radius: 20px;
    }

    #secondPage #price div img {
        width: 92vw;
        border-radius: 20px 20px 0 0;
    }

    #secondPage #price div h3 {
        font-size: 14vw;
    }

    #secondPage #price div h6 {
        font-size: 8vw;
    }

    #secondPage #price div ul li{
        font-size: 4vw;
    }





    /* swiper */

    .swiper {
        height: 85vw;
    }

    .swiper-slide div{
        width: 100vw;
        height: 80vw;
    }

    .swiper-button-next::after, .swiper-button-prev::after{
        font-size: 7vw !important;
    }
}